container#lang-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 2vmax;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    .langButton {
        border-radius: 20px;
        padding: 1vmax;
        font-size: 20vw;
        cursor: pointer;
        &:hover {
        transform: scale(1.2);
        }
    }
    .langButton:nth-child(odd) {
        margin-top: 1vmax;
    }
    .langButton:nth-child(even) {
        margin-bottom: 1vmax;
    }
}